<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Analyzing Phase </title>

    <script>
        let fdInterval;

        function updateProgress() {
            console.log("Progress updated");
            const url = "/progress";

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);

                    console.log("============ FETCH ============");
                        
                    if (data.cambiarEJS == 1) {
                        document.getElementById("ejsToRender").value = data.ejsToRender;
                        clearInterval(fdInterval);
                        document.getElementById("redirectForm").submit();
                    }

                    if (data.ports == 1) {
                        document.getElementById("PORT").src = "/img/loading.gif";
                    } else if (data.ports == 2) {
                        document.getElementById("PORT").src = "/img/check.png";
                    } else if (data.ports == -1) {
                        document.getElementById("PORT").src = "/img/warning.png";
                    }

                    if (data.dns == 1) {
                        document.getElementById("DNS").src = "/img/loading.gif";
                    } else if (data.dns == 2) {
                        document.getElementById("DNS").src = "/img/check.png";
                    } else if (data.dns == 3) {
                        document.getElementById("DNS").src = "/img/cross.png";
                    } else if (data.dns == -1) {
                        document.getElementById("DNS").src = "/img/warning.png";
                    }

                    if (data.ftp == 1) {
                        document.getElementById("FTP").src = "/img/loading.gif";
                    } else if (data.ftp == 2) {
                        document.getElementById("FTP").src = "/img/check.png";
                    } else if (data.ftp == 3) {
                        document.getElementById("FTP").src = "/img/cross.png";
                    } else if (data.ftp == -1) {
                        document.getElementById("FTP").src = "/img/warning.png";
                    }

                    if (data.samba == 1) {
                        document.getElementById("SAMBA").src = "/img/loading.gif";
                    } else if (data.samba == 2) {
                        document.getElementById("SAMBA").src = "/img/check.png";
                    } else if (data.samba == 3) {
                        document.getElementById("SAMBA").src = "/img/cross.png";
                    } else if (data.samba == -1) {
                        document.getElementById("SAMBA").src = "/img/warning.png";
                    }

                    if (data.sql == 1) {
                        document.getElementById("SQL").src = "/img/loading.gif";
                    } else if (data.sql == 2) {
                        document.getElementById("SQL").src = "/img/check.png";
                    } else if (data.sql == 3) {
                        document.getElementById("SQL").src = "/img/cross.png";
                    } else if (data.sql == -1) {
                        document.getElementById("SQL").src = "/img/warning.png";
                    }

                    if (data.ssh == 1) {
                        document.getElementById("SSH").src = "/img/loading.gif";
                    } else if (data.ssh == 2) {
                        document.getElementById("SSH").src = "/img/check.png";
                    } else if (data.ssh == 3) {
                        document.getElementById("SSH").src = "/img/cross.png";
                    } else if (data.ssh == -1) {
                        document.getElementById("SSH").src = "/img/warning.png";
                    }
                    
                    if (data.end == 1) {
                        clearInterval(fdInterval);
                        fetch("/generateJSON");
                        document.getElementById("bottomForm").style.visibility = "visible";
                        document.getElementById("bottomForm").style.display = "flex";
                    }
                    
                });
        }

        function mainFunction() {
            
            if ( "<%= discovered.samba %>" == "3" ) { document.getElementById("tablaSAMBA").innerHTML = ""; }
            if ( "<%= discovered.ftp %>" == "3" ) { document.getElementById("tablaFTP").innerHTML = ""; }
            if ( "<%= discovered.ssh %>" == "3" ) { document.getElementById("tablaSSH").innerHTML = ""; }
            if ( "<%= discovered.sql %>" == "3" ) { document.getElementById("tablaSQL").innerHTML = ""; }

            if ( "<%= devuelta %>" == "1" ) {
                document.getElementById("startForm").style.visibility = "hidden";
                document.getElementById("startForm").style.display = "none";
                document.getElementById("bottomForm").style.visibility = "hidden";
                document.getElementById("bottomForm").style.display = "none";
            }

            fdInterval = setInterval(updateProgress, 1000);
        }
        
    </script>

    <link href="/css/analyzing-styles.css" rel="stylesheet" type="text/css">

</head>
<body onload="mainFunction()">
    <%- include("./orbikHeader.ejs") %>
    
    <div style="text-align: center; padding-top: 30px;">
        <h1> Analyzing Target </h1>
        <p> <i> IP: <%= ip %> </i> </p>

        <table style="margin-left: auto; margin-right: auto; margin-top: 50px;">
            <tr>
                <th class="tablaIzquierda">
                    <form method="POST" action="/options"> <input type="button" name="button" value="Port Analysis" id="buttonProtocol"> <input type="text" name="prot" style="visibility: hidden; display: none;" value="PORT"> </form>
                </th>
                <th class="tablaDerecha">
                    <img id="PORT" style="width: 35px; height: 35px;" src="/img/check.png" alt="Cargando...">
                </th>
            </tr>
            <tr>
                <th class="tablaIzquierda">
                    <form method="POST" action="/options"> <input type="submit" name="button" value="Domain Analysis" id="buttonProtocol"> <input type="text" name="prot" style="visibility: hidden; display: none;" value="DOMAIN"> </form>
                </th>
                <th class="tablaDerecha">
                    <img id="DNS" style="width: 35px; height: 35px;" src="/img/time.png" alt="Cargando...">
                </th>
            </tr>
            <tr id="tablaFTP">
                <th class="tablaIzquierda">
                    <form method="POST" action="/options"> <input type="submit" name="button" value="FTP Analysis" id="buttonProtocol"> <input type="text" name="prot" style="visibility: hidden; display: none;" value="FTP"> </form>
                </th>
                <th class="tablaDerecha">
                    <img id="FTP" style="width: 35px; height: 35px;" src="/img/time.png" alt="Cargando...">
                </th>
            </tr>
            <tr id="tablaSAMBA">
                <th class="tablaIzquierda">
                    <form method="POST" action="/options"> <input type="submit" name="button" value="SAMBA Analysis" id="buttonProtocol"> <input type="text" name="prot" style="visibility: hidden; display: none;" value="SAMBA"> </form>
                </th>
                <th class="tablaDerecha">
                    <img id="SAMBA" style="width: 35px; height: 35px;" src="/img/time.png" alt="Cargando...">
                </th>
            </tr>
            <tr id="tablaSQL">
                <th class="tablaIzquierda">
                    <form method="POST" action="/options"> <input type="submit" name="button" value="SQL Analysis" id="buttonProtocol"> <input type="text" name="prot" style="visibility: hidden; display: none;" value="SQL"> </form>
                </th>
                <th class="tablaDerecha">
                    <img id="SQL" style="width: 35px; height: 35px;" src="/img/time.png" alt="Cargando...">
                </th>
            </tr>
            <tr id="tablaSSH">
                <th class="tablaIzquierda">
                    <form method="POST" action="/options"> <input type="submit" name="button" value="SSH Analysis" id="buttonProtocol"> <input type="text" name="prot" style="visibility: hidden; display: none;" value="SSH"> </form>
                </th>
                <th class="tablaDerecha">
                    <img id="SSH" style="width: 35px; height: 35px;" src="/img/time.png" alt="Cargando...">
                </th>
            </tr>
        </table>

        <div id="bottomForm" style="visibility: hidden; display: none;">
            <table style="margin-left: auto; margin-right: auto; margin-top: 50px;">
                <tr>
                    <th>
                        <input type="button" id="buttonSend" value="Download Report" onclick="location.href='/downloadJSON'">
                    </th>
                    <th>
                        <form method="GET" action="/">
                            <input type="submit" id="buttonSend" value="Do Another">
                        </form>
                    </th>
                </tr>
            </table>
        </div>
        <div id="startForm">
            <table style="margin-left: auto; margin-right: auto; margin-top: 50px;">
                <tr>
                    <th>
                        <input type="button" id="buttonSend" value="Start" onclick="location.href='/startAnalysis'">
                    </th>
                    <th>
                        <input type="button" id="buttonSend" value="Cancel" onclick="location.href='/'">
                    </th>
                </tr>
            </table>
        </div>

        <form method="post" action="/changeRender" id="redirectForm" style="display: none; visibility: hidden;">
            <input type="text" id="ejsToRender" name="ejsToRender" value="">
            <input type="submit" id="sendRedirectButton">
        </form>
    </div>
</body>

</html>